h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  margin-bottom: 0px;
  margin-right: 10px;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%; /* add some top margin */
}
#given-params {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-cell {
    width: 120px;
    height: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#startMCMC{
  position: fixed;
  top: 18%;
  left: 35%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
#stopMCMC{
    position: fixed;
    top: 18%;
    left: 48%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#clearMCMC{
    position: fixed;
    top: 18%;
    left: 61%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#mcmc_plots_div{
    position: fixed;
    left: 49.2%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
@media only screen and (max-width: 400px) {
  #mcmc_plots_div{
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px:
  }
}



