.container {
	margin: 50px auto;
	text-align: center;
}

form {
	margin: 30px auto;
}

label {
	display: inline-block;
	width: 150px;
	text-align: left;
}

input[type="number"] {
	width: 200px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#histogram {
	margin-top: 50px;
	text-align: center;
}

.bar {
	display: inline-block;
	margin: 0 1px;
	height: 20px;
	background-color: #4CAF50;
}

